body{
  background-color: black;
  text-align: center;
}

h1,h2,p,a{
font-family: Verdana;
}

.header h1{

  color: White;
  font-weight: bold;
  font-size: 50px;
}

.header a, .footer a{
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;;


}

.article h2{
  color:White;
  font-weight: bold;
  font-size: 42px;
}

.article p{
  color:Gray;
  font-size: 21px;
}


.footer .copyright{
  color:Gray;
  text-align: right;
  font-size: 21px
}
